/*MODAL*/

.modalTitle{
  font-size: 25px;;
}
.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.623);
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  position:relative;
}

.modalItem{
  display: flex;
  align-items: center;
  gap:20px;
  padding: 20px;
}

.itemInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.title{
font-weight: 800;
}
.rContainer{
display: flex;
flex-wrap: wrap;
gap: 10px;
}
.room{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.room >label{
  font-size: 10px;
  font-weight: bold;
  color:#555;
}
.mCheck{
  width: 30px;
  height: 30px;
}
.room>input:disabled{
  cursor: not-allowed;
}
.closeModalBtn {
  font-size: 20px;
  color:rgb(0, 0, 0);
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
}
.rButton{
  height: 30px;
  width: 100%;
  padding: 20px;
  color: white;
  background-color: blue;
  font-weight: 500;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}